:host {
  display: grid;
  padding:0.5rem;
  grid-template:
    "description price"
    "payer       price";
  grid-template-columns: auto 5rem;
  h3, h4 {
    margin:0;
  }
  h3 {
    grid-area: description;
  }
  h4 {
    grid-area: payer;
    font-weight:normal;
    opacity:0.7;
  }
  .price {
    grid-area: price;
    font-size:1.2rem;
    text-align:right;
  }
}
